
/* ##GLOBAL */

* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(20,20,20);
    background: url("../images/fretboard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.button {
    font-size: 18px;
    color: #f5f2f0;
    border: 1px solid #f5f2f0;
    background-color: #282423;
    border-radius: 2px;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.dropdown {
    font-size: 18px;
}

.transparent-wrapper {
    filter: grayscale(10%);
}

/* ##FONTS */

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/roboto-regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/roboto-medium.ttf);
    font-weight: bold;
}

/* ##NAVBAR */

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#navbar > a {
    text-decoration: none;
    color: #f5f2f0;
    font-size: 20px;
}

/* ##TOOLS */

.tools-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



/* ##TUNER */

.tuner-div {
    display: flex;
    flex-direction: row;
}

.tuner-fretboard {
    margin-left: 30px;
    margin-top: 110px;
    height: 300px;
    filter: grayscale(70%);
}

.tuner-container {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.tuner-container > p {
    margin-left: 10px;
    color: #f5f2f0;
    font-weight: bold;
    font-size: 20px;
}

.tuner-container > select {
    margin-left: 10px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
}

.tuner-container > button {
    margin: 10px;
    width: 36px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
}

/* ##METRONOME */

.metronome-container > p {
    margin-left: 10px;
    color: #f5f2f0;
    font-weight: bold;
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.metronome-container > select {
    margin-left: 10px;
    width: 140px;
    margin-bottom: 20px;
    font-size: 16px;
}

.metronome-container > input {
    margin-left: 10px;
    width: 40px;
    margin-bottom: 20px;
    font-size: 16px;
}

.metronome-container > button {
    margin: 10px;
    width: 36px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
}

.metronome-icon {
    color: #f5f2f0;
    font-size: 26px;
    margin-left: 10px;
}

/* ##AUTH*/

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.auth-input {
    font-size: 18px;
    margin-right: 10px;
}

/* ##TABS */

.tabs-text {
    color: #f5f2f0;
}

.tabs-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.tabs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.tab-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(100, 100, 100, 0.6);
    width: 300px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.tab-buttons {
    display: flex;
    flex-direction: row;
}

.tab-button {
    margin-left: 10px;
}

.tab-form-input {
    font-size: 18px;
    margin-top: 50px;
    margin-right: 10px;
}

.tab-title {
    font-size: 26px;
}

.tab-artist {
    font-size: 20px;
}

/* ##CREDITS */

.credits-div {
    color: #f5f2f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.credits-title {
    font-size: 30px;
}

.credits-div > div > p > a {
    color: #d9c8b8;
    text-decoration: none;
}

.tan {
    color: #d9c8b8;
}

.tan:hover {
    color: #d6b89c;
    cursor: pointer;
}