

/* ##GLOBAL */

* {
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(20,20,20);
    background: url("../images/fretboard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    overflow: auto;

}

.button {
    font-size: 18px;
    color: #f5f2f0;
    border: 1px solid #f5f2f0;
    background-color: #282423;
    border-radius: 2px;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.dropdown {
    font-size: 18px;
}

.transparent-wrapper {
    filter: grayscale(10%);
}

.tan {
    color: #d9c8b8;
}

.tan:hover {
    color: #d6b89c;
    cursor: pointer;
}

/* ##FONTS */

/* @font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/roboto-regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/roboto-medium.ttf);
    font-weight: bold;
} */

/* ##NAVBAR */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky; /* fixed isn't working for some reason :| */
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    height: 5vh;
    margin-bottom: 20px;
    z-index: 100;
    background-image: linear-gradient(#2e2c29,#1f1e1c);
    min-width: 320px;
}

.navlink {
    text-decoration: none;
    color: #f5f2f0;
    font-size: 20px;
    transition: color 300ms linear 50ms;
}

.active {
    color: #f0c9a5;
}

.navlink:hover {
    color: #d6b89c;
    transition: color 300ms linear 50ms;
}

/* ##TOOLS */

.tools-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
}

/* ##TUNER */

.tuner-div {
    display: flex;
    flex-direction: row;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.tuner-fretboard {
    margin-top: 110px;
    height: 300px;
    width: 110px;
    filter: grayscale(70%) brightness(0.9) saturate(40%);
    border-radius: 2px;
}

.tuner-fretboard-7string {
    margin-top: 120px;
    height: 350px;
    width: 110px;
    filter: grayscale(50%) brightness(0.95) saturate(30%) contrast(160%);
    border-radius: 2px;
}

.tuner-fretboard-8string {
    margin-top: 120px;
    height: 410px;
    width: 110px;
    filter: grayscale(50%) brightness(0.7) saturate(30%) contrast(160%);
    border-radius: 2px;
}

.tuner-container {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100px;
    z-index: 5;
}

.tuner-container > p {
    margin-left: 10px;
    color: #f5f2f0;
    font-weight: bold;
    font-size: 20px;
}

.tuner-container > select {
    margin-left: 10px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
}

.tuner-container > button {
    margin: 10px;
    width: 42px;
    height: 33px;
    border-radius: 5px;
    font-size: 16px;
}

/* ##METRONOME */

.metronome-container {
    margin-top: 40px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 50px;
    width: 200px;
}

.metronome-container > p {
    margin-left: 10px;
    color: #f5f2f0;
    font-weight: bold;
    font-size: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.metronome-container > select {
    margin-left: 10px;
    width: 140px;
    margin-bottom: 20px;
    font-size: 16px;
}

.metronome-container > input {
    margin-left: 10px;
    width: 40px;
    margin-bottom: 20px;
    font-size: 16px;
}

.metronome-container > button {
    margin: 10px;
    width: 36px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
}

.metronome-icon {
    color: #f5f2f0;
    font-size: 26px;
    margin-left: 22px;
}

/* ##AUTH*/

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.auth-form > button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.auth-input {
    font-size: 18px;
    margin-top: 5px;
}

/* ##TABS */

.tabs-text {
    color: #f5f2f0;
}

.tabs-title {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.tabs-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabs-logout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.tabs-logout > button {
    margin-left: 12px;
}

.tabs-dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.tab-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(40, 36, 34, 0.7);
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.tab-buttons {
    display: flex;
    flex-direction: row;
}

.tab-button {
    margin-left: 10px;
}

.tabs-username {
    color: #d6b89c;
}

.tab-form-input {
    font-size: 18px;
    margin-top: 50px;
    margin-right: 10px;
}

.tab-title {
    font-size: 26px;
}

.tab-artist {
    font-size: 20px;
}

/* ##CREDITS */

.credits-div {
    color: #f5f2f0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-size: 18px;
    width: 100%;
}

.credits-div > div {
    grid-column: 2 / 3;
    justify-self: center;
    background-color: rgba(40, 36, 34, 0.7);
    width: 300px;
    padding-left: 20px;
}

.credits-div > div > p {
    margin-left: 10px;
}

.credits-title {
    font-size: 30px;
    grid-column: 2 / 3;
    justify-self: center;
}

.credits-div > div > p > a {
    color: #d9c8b8;
    text-decoration: none;
}



@media only screen and (min-width: 400px){

    .tuner-container{
        width: 110px;
    }

    .tuner-fretboard {
        width: 130px;
    }

    .tuner-fretboard-7string {
        width: 130px;
    }

    .tuner-fretboard-8string {
        width: 130px;
    }
}

@media only screen and (min-width: 500px){

    .tuner-container{
        width: 120px;
    }

    .tuner-fretboard {
        width: 200px;
    }

    .metronome-container {
        width: 200px;
    }

    .tuner-fretboard-7string {
        width: 200px;
    }

    .tuner-fretboard-8string {
        width: 200px;
    }
}

@media only screen and (min-width: 800px){

    .tuner-container{
        width: 150px;
    }

    #navbar {
        justify-content: flex-end;
    }

    #navbar > a {
        margin-right: 20px;
    }
    
}

@media only screen and (min-width: 1000px){
    
}

@media only screen and (min-width: 1200px){
    
}